anypointstudio/process_api/src/main/mule/process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    
    <configuration-properties file="properties.yaml"/>
    
    <http:listener-config name="process-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    
    <http:request-config name="Database_API_Config">
        <http:request-connection 
            host="system-api-database-13pr64.5sc6y6-2.usa-e2.cloudhub.io" 
            protocol="HTTPS" 
            port="443" />
    </http:request-config>

    <http:request-config name="OpenMeteo_API_Config">
        <http:request-connection 
            host="system-api-openmeteo-13pr64.5sc6y6-2.usa-e2.cloudhub.io" 
            protocol="HTTPS" 
            port="443" />
    </http:request-config>

    <http:request-config name="Geoapify_API_Config">
        <http:request-connection 
            host="system-api-geoapify-13pr64.5sc6y6-1.usa-e2.cloudhub.io" 
            protocol="HTTPS" 
            port="443" />
    </http:request-config>
    
    <api-gateway:autodiscovery apiId="${api.id}" ignoreBasePath="true" doc:name="API Autodiscovery" flowRef="process-api-main" />
	<flow name="process-api-main">
        <http:listener config-ref="process-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        
        <choice doc:name="Route Request">
            <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/locations']">
                <flow-ref name="process-get-locations" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath matches /\/api\/locations\/\d+/]">
                <flow-ref name="process-get-location-by-id" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath matches /\/api\/locations\/\d+\/weather/]">
                <flow-ref name="process-get-location-weather" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/itineraries']">
                <flow-ref name="process-get-itineraries" />
            </when>
            <when expression="#[attributes.method == 'POST' and attributes.requestPath == '/api/itineraries']">
                <flow-ref name="process-post-itinerary" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath matches /\/api\/itineraries\/\d+/]">
                <flow-ref name="process-get-itinerary-by-id" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/ratings']">
                <flow-ref name="process-get-ratings" />
            </when>
            <when expression="#[attributes.method == 'POST' and attributes.requestPath == '/api/ratings']">
                <flow-ref name="process-post-rating" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/favorites']">
                <flow-ref name="process-get-favorites" />
            </when>
            <when expression="#[attributes.method == 'POST' and attributes.requestPath == '/api/favorites']">
                <flow-ref name="process-post-favorite" />
            </when>
            <when expression="#[attributes.method == 'DELETE' and attributes.requestPath matches /\/api\/favorites\/\d+/]">
                <flow-ref name="process-delete-favorite" />
            </when>
            <otherwise>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Endpoint not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    
    <flow name="process-get-locations">
        <logger level="INFO" message="Process API: Getting all locations" />
        <http:request method="GET" config-ref="Database_API_Config" path="/api/locations">
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
        </http:request>
    </flow>
    
    <flow name="process-get-location-by-id">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="locationId"><![CDATA[%dw 2.0
output application/java
---
(attributes.requestPath splitBy '/' )[3]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" config-ref="Database_API_Config" path="#['/api/locations/' ++ vars.locationId]">
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
        </http:request>
        <set-variable variableName="locationData" value="#[payload]" />
        
        <try>
            <http:request method="GET" config-ref="Geoapify_API_Config" path="/api/places/nearby">
                <http:query-params><![CDATA[#[output application/java
---
{
    "latitude": vars.locationData.latitude,
    "longitude": vars.locationData.longitude,
    "radius": "1000"
}]]]></http:query-params>
                <http:response-validator>
                    <http:success-status-code-validator values="200..299" />
                </http:response-validator>
                <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            </http:request>
            <set-variable variableName="geoData" value="#[payload]" />
            <error-handler>
                <on-error-continue type="ANY">
                    <set-variable variableName="geoData" value="#[null]" />
                </on-error-continue>
            </error-handler>
        </try>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.locationData ++ {
    nearbyPlaces: vars.geoData.features default []
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <flow name="process-get-location-weather">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="locationId"><![CDATA[%dw 2.0
output application/java
---
(attributes.requestPath splitBy '/' )[3]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" config-ref="Database_API_Config" path="#['/api/locations/' ++ vars.locationId]">
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
        </http:request>
        <set-variable variableName="locationData" value="#[payload]" />
        
        <try>
            <http:request method="GET" config-ref="OpenMeteo_API_Config" path="/api/weather/current">
                <http:query-params><![CDATA[#[output application/java
---
{
    "latitude": vars.locationData.latitude as String,
    "longitude": vars.locationData.longitude as String
}]]]></http:query-params>
                <http:response-validator>
                    <http:success-status-code-validator values="200..299" />
                </http:response-validator>
                <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            </http:request>
            <set-variable variableName="weatherData" value="#[payload]" />
            <error-handler>
                <on-error-continue type="ANY">
                    <set-variable variableName="weatherData" value="#[{error: 'Weather data unavailable'}]" />
                </on-error-continue>
            </error-handler>
        </try>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.locationData ++ {
    weather: vars.weatherData
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <flow name="process-get-itineraries">
        <http:request method="GET" config-ref="Database_API_Config" path="/api/itineraries">
            <http:query-params><![CDATA[#[output application/java
---
attributes.queryParams]]]></http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
        </http:request>
    </flow>
    
    <flow name="process-post-itinerary">
        <http:request method="POST" config-ref="Database_API_Config" path="/api/itineraries">
            <http:body><![CDATA[#[payload]]]></http:body>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
        </http:request>
    </flow>
    
    <flow name="process-get-itinerary-by-id">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="itineraryId"><![CDATA[%dw 2.0
output application/java
---
(attributes.requestPath splitBy '/' )[3]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" config-ref="Database_API_Config" path="#['/api/itineraries/' ++ vars.itineraryId]">
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
        </http:request>
    </flow>
    
    <flow name="process-get-ratings">
        <http:request method="GET" config-ref="Database_API_Config" path="/api/ratings">
            <http:query-params><![CDATA[#[output application/java
---
attributes.queryParams]]]></http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
        </http:request>
    </flow>
    
    <flow name="process-post-rating">
        <http:request method="POST" config-ref="Database_API_Config" path="/api/ratings">
            <http:body><![CDATA[#[payload]]]></http:body>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
        </http:request>
    </flow>
    
    <flow name="process-get-favorites">
        <http:request method="GET" config-ref="Database_API_Config" path="/api/favorites">
            <http:query-params><![CDATA[#[output application/java
---
attributes.queryParams]]]></http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
        </http:request>
    </flow>
    
    <flow name="process-post-favorite">
        <http:request method="POST" config-ref="Database_API_Config" path="/api/favorites">
            <http:body><![CDATA[#[payload]]]></http:body>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
        </http:request>
    </flow>
    
    <flow name="process-delete-favorite">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="favoriteId"><![CDATA[%dw 2.0
output application/java
---
(attributes.requestPath splitBy '/' )[3]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="DELETE" config-ref="Database_API_Config" path="#['/api/favorites/' ++ vars.favoriteId]">
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
        </http:request>
    </flow>
    
</mule>