anypointstudio/system_api_database/src/main/mule/system_api_database.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    
    <!-- Load Properties File -->
    <configuration-properties file="properties.yaml"/>
    
    <!-- HTTP Listener Configuration -->
    <http:listener-config name="httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    
    <!-- APIKit Configuration -->
    <apikit:config name="apiConfig" api="resource::1782ea4a-5a87-4bb9-8106-5f1c978c57b1:system_api_database:1.0.0:raml:zip:system_api_database.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    
    <!-- Main Flow -->
    <flow name="main">
        <http:listener config-ref="httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        <apikit:router config-ref="apiConfig" />
    </flow>
    
    <!-- POST /users - Register -->
    <flow name="post:\users:application\json:apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    token: "mock-token-" ++ randomInt(99999),
    expiresIn: 86400,
    user: {
        id: "user-" ++ randomInt(99999),
        name: payload.name,
        email: payload.email
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- POST /users/login -->
    <flow name="post:\users\login:application\json:apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    token: "mock-token-" ++ randomInt(99999),
    expiresIn: 86400,
    user: {
        id: "user-123",
        name: "Demo User",
        email: payload.email
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- GET /locations -->
    <flow name="get:\locations:apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
    {
        id: "1",
        name: "Lagoa do Fogo",
        description: "Beautiful crater lake in São Miguel",
        island: "São Miguel",
        latitude: 37.7688,
        longitude: -25.4734,
        category: "Nature",
        image_url: "https://example.com/lagoa-fogo.jpg"
    },
    {
        id: "2",
        name: "Sete Cidades",
        description: "Twin lakes with stunning views",
        island: "São Miguel",
        latitude: 37.8579,
        longitude: -25.7887,
        category: "Nature",
        image_url: "https://example.com/sete-cidades.jpg"
    },
    {
        id: "3",
        name: "Furnas",
        description: "Volcanic hot springs and thermal baths",
        island: "São Miguel",
        latitude: 37.7743,
        longitude: -25.3208,
        category: "Hot Springs",
        image_url: "https://example.com/furnas.jpg"
    }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- POST /locations -->
    <flow name="post:\locations:application\json:apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload ++ {
    id: "new-" ++ randomInt(99999)
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- GET /locations/{locationId} -->
    <flow name="get:\locations\(locationId):apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    id: attributes.uriParams.locationId,
    name: "Lagoa do Fogo",
    description: "Beautiful crater lake",
    island: "São Miguel",
    latitude: 37.7688,
    longitude: -25.4734,
    category: "Nature",
    image_url: "https://example.com/image.jpg"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- PATCH /locations/{locationId} -->
    <flow name="patch:\locations\(locationId):application\json:apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload ++ {
    id: attributes.uriParams.locationId
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- DELETE /locations/{locationId} -->
    <flow name="delete:\locations\(locationId):apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
null]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">204</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    
    <!-- GET /ratings -->
    <flow name="get:\ratings:apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- POST /ratings -->
    <flow name="post:\ratings:application\json:apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload ++ {
    id: "rating-" ++ randomInt(99999),
    created_at: now() as String
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- GET /users/{userId} -->
    <flow name="get:\users\(userId):apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    id: attributes.uriParams.userId,
    name: "Demo User",
    email: "demo@example.com",
    role: "user",
    created_at: now() as String
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- PATCH /users/{userId} -->
    <flow name="patch:\users\(userId):application\json:apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    id: attributes.uriParams.userId,
    name: payload.name,
    email: "demo@example.com",
    role: "user",
    created_at: now() as String
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- DELETE /users/{userId} -->
    <flow name="delete:\users\(userId):apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
null]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">204</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    
    <!-- PATCH /ratings/{ratingId} -->
    <flow name="patch:\ratings\(ratingId):application\json:apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload ++ {
    id: attributes.uriParams.ratingId,
    created_at: now() as String
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- DELETE /ratings/{ratingId} -->
    <flow name="delete:\ratings\(ratingId):apiConfig">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
null]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">204</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    
</mule>