anypointstudio/experience_api/src/main/mule/experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    
    <configuration-properties file="properties.yaml"/>
    
    <http:listener-config name="experience-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    
    <http:request-config name="Process_API_Config">
        <http:request-connection 
            host="processapi-turismometeo-13pr64.5sc6y6-1.usa-e2.cloudhub.io" 
            protocol="HTTPS" 
            port="443" />
    </http:request-config>
    
    <http:request-config name="Database_API_Config">
        <http:request-connection 
            host="system-api-database-13pr64.5sc6y6-2.usa-e2.cloudhub.io" 
            protocol="HTTPS" 
            port="443" />
    </http:request-config>
    
    <api-gateway:autodiscovery apiId="${api.id}" ignoreBasePath="true" doc:name="API Autodiscovery" flowRef="experience-api-main" />
	<flow name="experience-api-main">
        <http:listener config-ref="experience-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        
        <choice doc:name="Route Request">
            <when expression="#[attributes.method == 'POST' and attributes.requestPath == '/api/users']">
                <flow-ref name="experience-register-user" />
            </when>
            <when expression="#[attributes.method == 'POST' and attributes.requestPath == '/api/users/login']">
                <flow-ref name="experience-login-user" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/islands']">
                <flow-ref name="experience-get-islands" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/locations']">
                <flow-ref name="experience-get-locations" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath matches /\/api\/locations\/\d+$/]">
                <flow-ref name="experience-get-location-by-id" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath matches /\/api\/locations\/\d+\/weather/]">
                <flow-ref name="experience-get-location-weather" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/itineraries']">
                <flow-ref name="experience-get-itineraries" />
            </when>
            <when expression="#[attributes.method == 'POST' and attributes.requestPath == '/api/itineraries']">
                <flow-ref name="experience-post-itinerary" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath matches /\/api\/itineraries\/\d+/]">
                <flow-ref name="experience-get-itinerary-by-id" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/ratings']">
                <flow-ref name="experience-get-ratings" />
            </when>
            <when expression="#[attributes.method == 'POST' and attributes.requestPath == '/api/ratings']">
                <flow-ref name="experience-post-rating" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/favorites']">
                <flow-ref name="experience-get-favorites" />
            </when>
            <when expression="#[attributes.method == 'POST' and attributes.requestPath == '/api/favorites']">
                <flow-ref name="experience-post-favorite" />
            </when>
            <when expression="#[attributes.method == 'DELETE' and attributes.requestPath matches /\/api\/favorites\/\d+/]">
                <flow-ref name="experience-delete-favorite" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/admin/locations']">
                <flow-ref name="experience-get-locations" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/admin/users']">
                <flow-ref name="experience-get-users" />
            </when>
            <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/admin/integrations']">
                <flow-ref name="experience-get-integrations" />
            </when>
            <otherwise>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Endpoint not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    
    <flow name="experience-register-user">
        <http:request method="POST" config-ref="Database_API_Config" path="/api/users">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    id: payload.id,
    email: payload.email,
    name: payload.name,
    token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.demo.token"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <flow name="experience-login-user">
        <http:request method="POST" config-ref="Database_API_Config" path="/api/users/login">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    id: payload.id,
    email: payload.email,
    name: payload.name,
    token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.demo.token"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <flow name="experience-get-islands">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
    {id: 1, name: "São Miguel", description: "The largest island in the Azores", imageUrl: "/assets/images/islands/sao-miguel.jpg", locationCount: 15},
    {id: 2, name: "Terceira", description: "UNESCO World Heritage site", imageUrl: "/assets/images/islands/terceira.jpg", locationCount: 10},
    {id: 3, name: "Faial", description: "Known as the Blue Island", imageUrl: "/assets/images/islands/faial.jpg", locationCount: 8},
    {id: 4, name: "Pico", description: "Home to Portugal's highest mountain", imageUrl: "/assets/images/islands/pico.jpg", locationCount: 7},
    {id: 5, name: "São Jorge", description: "Famous for its dramatic cliffs", imageUrl: "/assets/images/islands/sao-jorge.jpg", locationCount: 6},
    {id: 6, name: "Santa Maria", description: "The oldest island", imageUrl: "/assets/images/islands/santa-maria.jpg", locationCount: 5},
    {id: 7, name: "Graciosa", description: "The White Island", imageUrl: "/assets/images/islands/graciosa.jpg", locationCount: 4},
    {id: 8, name: "Flores", description: "The westernmost island", imageUrl: "/assets/images/islands/flores.jpg", locationCount: 5},
    {id: 9, name: "Corvo", description: "The smallest island", imageUrl: "/assets/images/islands/corvo.jpg", locationCount: 2}
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <flow name="experience-get-locations">
        <http:request method="GET" config-ref="Process_API_Config" path="/api/locations">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:query-params><![CDATA[#[output application/java
---
attributes.queryParams]]]></http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
    </flow>
    
    <flow name="experience-get-location-by-id">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="locationId"><![CDATA[%dw 2.0
output application/java
---
(attributes.requestPath splitBy '/' )[3]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" config-ref="Process_API_Config" path="#['/api/locations/' ++ vars.locationId]">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
    </flow>
    
    <flow name="experience-get-location-weather">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="locationId"><![CDATA[%dw 2.0
output application/java
---
(attributes.requestPath splitBy '/' )[3]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" config-ref="Process_API_Config" path="#['/api/locations/' ++ vars.locationId ++ '/weather']">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
    </flow>
    
    <flow name="experience-get-itineraries">
        <http:request method="GET" config-ref="Process_API_Config" path="/api/itineraries">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:query-params><![CDATA[#[output application/java
---
attributes.queryParams]]]></http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
    </flow>
    
    <flow name="experience-post-itinerary">
        <http:request method="POST" config-ref="Process_API_Config" path="/api/itineraries">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
    </flow>
    
    <flow name="experience-get-itinerary-by-id">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="itineraryId"><![CDATA[%dw 2.0
output application/java
---
(attributes.requestPath splitBy '/' )[3]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" config-ref="Process_API_Config" path="#['/api/itineraries/' ++ vars.itineraryId]">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
    </flow>
    
    <flow name="experience-get-ratings">
        <http:request method="GET" config-ref="Process_API_Config" path="/api/ratings">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:query-params><![CDATA[#[output application/java
---
attributes.queryParams]]]></http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
    </flow>
    
    <flow name="experience-post-rating">
        <http:request method="POST" config-ref="Process_API_Config" path="/api/ratings">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
    </flow>
    
    <flow name="experience-get-favorites">
        <http:request method="GET" config-ref="Process_API_Config" path="/api/favorites">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:query-params><![CDATA[#[output application/java
---
attributes.queryParams]]]></http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
    </flow>
    
    <flow name="experience-post-favorite">
        <http:request method="POST" config-ref="Process_API_Config" path="/api/favorites">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
    </flow>
    
    <flow name="experience-delete-favorite">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="favoriteId"><![CDATA[%dw 2.0
output application/java
---
(attributes.requestPath splitBy '/' )[3]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="DELETE" config-ref="Process_API_Config" path="#['/api/favorites/' ++ vars.favoriteId]">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
    </flow>
    
    <flow name="experience-get-users">
        <http:request method="GET" config-ref="Database_API_Config" path="/api/users">
            <http:headers><![CDATA[#[output application/java
---
{
    "client_id": "${api.client.id}",
    "client_secret": "${api.client.secret}"
}]]]></http:headers>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
    </flow>
    
    <flow name="experience-get-integrations">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    database: {status: "connected", url: "system-api-database-13pr64.5sc6y6-2.usa-e2.cloudhub.io", lastChecked: now() as String},
    openMeteo: {status: "connected", url: "system-api-openmeteo-13pr64.5sc6y6-2.usa-e2.cloudhub.io", lastChecked: now() as String},
    geoapify: {status: "connected", url: "system-api-geoapify-13pr64.5sc6y6-1.usa-e2.cloudhub.io", lastChecked: now() as String},
    processApi: {status: "connected", url: "processapi-turismometeo-13pr64.5sc6y6-1.usa-e2.cloudhub.io", lastChecked: now() as String}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
</mule>