anypointstudio/system_api_geoapify/src/main/mule/system_api_geoapify.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <configuration-properties file="properties.yaml"/>
    
    <http:listener-config name="httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    
    <http:request-config name="Geoapify_HTTP_Request_Config">
        <http:request-connection host="api.geoapify.com" protocol="HTTPS" />
    </http:request-config>

    <flow name="geoapify-api-main">
        <http:listener config-ref="httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        
        <choice doc:name="Route Request">
            <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/places/nearby']">
                <flow-ref name="get-places-nearby" />
            </when>
            <otherwise>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Endpoint not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    
    <flow name="get-places-nearby">
        <set-variable value="#[attributes.queryParams.latitude]" variableName="latitude" />
        <set-variable value="#[attributes.queryParams.longitude]" variableName="longitude" />
        <set-variable value="#[attributes.queryParams.radius default '1000']" variableName="radius" />
        
        <http:request method="GET" config-ref="Geoapify_HTTP_Request_Config" path="/v2/places">
            <http:query-params><![CDATA[#[output application/java
---
{
    "categories": "tourism",
    "filter": "circle:" ++ vars.longitude ++ "," ++ vars.latitude ++ "," ++ vars.radius,
    "limit": "20",
    "apiKey": "${geoapify.api.key}"
}]]]></http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="200..299" />
            </http:response-validator>
        </http:request>
    </flow>
    
</mule>