anypointstudio/system_api_geoapify/src/main/mule/system_api_geoapify.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" 
      xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    
    <!-- HTTP Listener Config -->
    <http:listener-config name="system_api_geoapify-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
    
    <!-- HTTP Request Config for Geoapify API -->
    <http:request-config name="Geoapify_HTTP_Request_Config" doc:name="HTTP Request configuration">
        <http:request-connection host="api.geoapify.com" protocol="HTTPS" />
    </http:request-config>
    
    <!-- APIKit Config -->
    <apikit:config name="system_api_geoapify-config" 
                   api="resource::1782ea4a-5a87-4bb9-8106-5f1c978c57b1:system_api_geoapify:1.0.0:raml:zip:system_api_geoapify.raml" 
                   outboundHeadersMapName="outboundHeaders" 
                   httpStatusVarName="httpStatus" />
    
    <!-- API Autodiscovery - COMMENTED OUT FOR LOCAL TESTING -->
    <api-gateway:autodiscovery 
    apiId="20617159" 
    ignoreBasePath="true" 
    doc:name="API Autodiscovery" 
    flowRef="system_api_geoapify-main" />
    
    <!-- Main Flow -->
    <flow name="system_api_geoapify-main">
        <http:listener config-ref="system_api_geoapify-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="system_api_geoapify-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    
    <!-- Console Flow -->
    <flow name="system_api_geoapify-console">
        <http:listener config-ref="system_api_geoapify-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="system_api_geoapify-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    
    <!-- GET /places endpoint - REAL API CALL -->
    <flow name="get:\places:system_api_geoapify-config">
        <logger level="INFO" doc:name="Log Request" 
                message="#['Fetching places with categories: ' ++ attributes.queryParams.categories ++ ', filter: ' ++ attributes.queryParams.filter]"/>
        
        <!-- Call Geoapify API -->
        <http:request method="GET" 
                     config-ref="Geoapify_HTTP_Request_Config" 
                     path="/v2/places" 
                     doc:name="Call Geoapify API">
            <http:query-params><![CDATA[#[output application/java
---
{
    "categories": attributes.queryParams.categories,
    "filter": attributes.queryParams.filter,
    "limit": attributes.queryParams.limit default "20",
    "lang": attributes.queryParams.lang default "pt",
    "apiKey": "YOUR_GEOAPIFY_API_KEY"
}]]]></http:query-params>
        </http:request>
        
        <logger level="INFO" doc:name="Log Success" 
                message="#['Successfully retrieved ' ++ (sizeOf(payload.features) default 0) ++ ' places']"/>
        
        <!-- Return the response as-is -->
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- GET /places/{placeId} endpoint - REAL API CALL -->
    <flow name="get:\places\(placeId):system_api_geoapify-config">
        <ee:transform doc:name="Extract placeId">
            <ee:variables>
                <ee:set-variable variableName="placeId">attributes.uriParams.'placeId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        
        <logger level="INFO" doc:name="Log Request" 
                message="#['Fetching place details for: ' ++ vars.placeId]"/>
        
        <!-- Call Geoapify API -->
        <http:request method="GET" 
                     config-ref="Geoapify_HTTP_Request_Config" 
                     path="/v2/place-details" 
                     doc:name="Call Geoapify API">
            <http:query-params><![CDATA[#[output application/java
---
{
    "id": vars.placeId,
    "lang": attributes.queryParams.lang default "pt",
    "apiKey": "YOUR_GEOAPIFY_API_KEY"
}]]]></http:query-params>
        </http:request>
        
        <logger level="INFO" doc:name="Log Success" 
                message="#['Successfully retrieved place details']"/>
        
        <!-- Return the response as-is -->
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- GET /geocode/search endpoint - REAL API CALL -->
    <flow name="get:\geocode\search:system_api_geoapify-config">
        <logger level="INFO" doc:name="Log Request" 
                message="#['Geocoding search for: ' ++ attributes.queryParams.text]"/>
        
        <!-- Call Geoapify API -->
        <http:request method="GET" 
                     config-ref="Geoapify_HTTP_Request_Config" 
                     path="/v1/geocode/search" 
                     doc:name="Call Geoapify API">
            <http:query-params><![CDATA[#[output application/java
---
{
    "text": attributes.queryParams.text,
    "limit": attributes.queryParams.limit default "5",
    "lang": attributes.queryParams.lang default "pt",
    "apiKey": "YOUR_GEOAPIFY_API_KEY"
} ++ (if (!isEmpty(attributes.queryParams.filter)) {"filter": attributes.queryParams.filter} else {})]]]></http:query-params>
        </http:request>
        
        <logger level="INFO" doc:name="Log Success" 
                message="#['Successfully geocoded location']"/>
        
        <!-- Return the response as-is -->
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <!-- GET /geocode/reverse endpoint - REAL API CALL -->
    <flow name="get:\geocode\reverse:system_api_geoapify-config">
        <logger level="INFO" doc:name="Log Request" 
                message="#['Reverse geocoding for lat: ' ++ attributes.queryParams.lat ++ ', lon: ' ++ attributes.queryParams.lon]"/>
        
        <!-- Call Geoapify API -->
        <http:request method="GET" 
                     config-ref="Geoapify_HTTP_Request_Config" 
                     path="/v1/geocode/reverse" 
                     doc:name="Call Geoapify API">
            <http:query-params><![CDATA[#[output application/java
---
{
    "lat": attributes.queryParams.lat,
    "lon": attributes.queryParams.lon,
    "lang": attributes.queryParams.lang default "pt",
    "apiKey": "YOUR_GEOAPIFY_API_KEY"
}]]]></http:query-params>
        </http:request>
        
        <logger level="INFO" doc:name="Log Success" 
                message="#['Successfully reverse geocoded coordinates']"/>
        
        <!-- Return the response as-is -->
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>